#markdown-previewer {
  padding: 1% 15%;
}

.markdown-input textarea {
  clear: right;
  float: left;
  height: 100%;
  resize: vertical;
  width: 49%;
}

.markdown-output {
  float: right;
  width: 49%;
}
